[submodule "src/linux/driver"]
	path = src/linux/driver
	url = https://github.com/fixstars/linux_v4l2_driver.git
[submodule "src/linux/headers"]
	path = src/linux/headers
	url = https://github.com/fixstars/linux_headers.git
